body {
    background-color:black;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-variant-caps: all-small-caps;   
}

h1 {
    color: white;
    text-shadow: 10px;
    font-style: oblique;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
    
h2  {
    color: white;
    }

p {
    color:white;
}


.who {
     border: 1px solid white ;
     background-image: url(images/IMG_5503.JPG);
     background-position: 10px 130px;
     background-size: 15%;
      }

.paintings {
    background-image: url(images/painting.jpeg);
    background-size: 15%;
}

.whopics {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.paintingsize {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.paintings_photo:hover {
    content: url("../paintings/IMG_8552.png");
    width: 100%;
}

.digpics {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.digpics__photo {
    width: 500px; 
}

.paintings__photo {
    width: 500px;
    align-items: center;
}

.lotta-art {
    display: flex;
    flex-direction: column; 
    width: 500px;
    justify-content: center;
    justify-items: center; 
    align-items: center;
}

.this {
    width: 500px;
}

.who_photos {
    width: 500px;
}
 
.box {
     border: 1px solid white;
     margin: 10px;
     padding: 25px;
     padding-left: 100px;
     padding-right: 100px:
     background-position: -100px 1200px;
     background-size: 120%;
     cursor: pointer;
      }

.box:hover {
    background-image: none;
    border: none;
}

.box__header {
    font-size: 22px;
    margin: 10px;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px:
    color: white;
    font-weight: 500;
    opacity: 0;
    transition: all .2s;
}

.box:hover > .box__header {
    opacity: 1;
}

.digital-art {
      border: 1px solid white ;
      background-image: url(images/wallpaper.png);
      margin: 10px; 
}
a {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-shadow: 4px 4px red;
    opacity: 1;
}


.textformat {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}
p {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}
}

 ul {
  list-style-type: none;
 }

@media (max-width: 2000px) {
    img {
        width: 199px;
    }
}

@media (max-width: 720px) {
    img {
        width: 719px;
        
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }  
}

@media (max-width: 400px) {
    img {
        width: 399px;
        opacity: 1;
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }   
}

@media (max-width: 100px) {
    img {
        width: 99px;
        opacity: 1;
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }
}


