body {
    background-color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-variant-caps: all-small-caps;   
    position: relative;
}

h1 {
    color: black;
    text-shadow: 10px;
    font-style: oblique;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
    
h2  {
    color: black;
    text-shadow: 10px;
    font-style: oblique;
    }

p {
    color: black;
}

.portraits {
     border: 1px solid white ;
     /* background-image: url(images/IMG_5503.JPG); */
     background-position: 10px 130px;
     /* background-size: 15%; */
     border: 1px solid white;
     width: 200px;
     margin: 10px;
     padding: 25px;
     padding-left: 100px;
     padding-right: 100px;
     background-position: -100px 1200px;
     background-size: 120%;
     cursor: pointer;
      }

/* .paintings {
    background-image: url(images/painting.jpeg);
    background-size: 15%;
} */

.whopics {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.paintingsize {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.paintings_photo:hover {
    content: url("../ALLART/IMG_8552.png");
    width: 100%;
}

.digpics {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
}

.digpics__photo {
    width: 500px; 
}

.paintings__photo {
    width: 500px;
    align-items: center;
}

.this {
    width: 500px;
}

.who_photos {
    width: 500px;
    
}
 
.box {
     border: 1px solid white;
     width: 200px;
     margin: 10px;
     padding: 25px;
     padding-left: 100px;
     padding-right: 100px;
     background-position: -100px 1200px;
     background-size: 120%;
     cursor: pointer;
     display: flex;
     align-content: center;
      }

.box:hover {
    background-image: none;
    border: none;
}

.box__header {
    font-size: 22px;
    margin: 10px;
    /* padding: 25px; */
    /* padding-left: 100px;
    padding-right: 100px; */
    color: black;
    font-weight: 500;
    /* opacity: 0; */
    transition: all .2s;
    display: flex;
}

.box:hover > .box__header {
    opacity: 1;
}

.digital-art {
      border: 1px solid white ;
      background-image: url(images/wallpaper.png);
      margin: 10px; 
}
a {
    color: black;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-shadow: 2px 2px rgb(41, 31, 175);
    opacity: 1;
}

.textformat {
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

p {
}

@media (max-width: 2000px) {
    img {
        width: 199px;
    }
}

@media (max-width: 720px) {
    img {
        width: 670px;
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }  
}

@media (max-width: 400px) {
    img {
        width: 350px;
        opacity: 1;
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }   
}

@media (max-width: 100px) {
    img {
        width: 50px;
        opacity: 1;
    }

    h1 {
    font-size: auto;
    opacity: 1;
    }
}

 /* new navigation */

 .nav {
    height: 50px;
    width: 100%;    
    position: fixed;
    top: 0;
    left: 0;        
    display: flex;  
    align-items: center;
  }

  .nav__icon {
    width: auto;  
    margin: 0 !important;
    padding: none;
    height: 17px; 
    width: 17px;
      position: fixed;
      right: 10px;
      z-index: 2;
      cursor: pointer;
      transition: all .2s;
      background-color: #222;
      padding: 10px;
}


  .nav__check {   
     transform: scale(2.7);
      position: fixed;
      z-index: 5;
      right: 17px;

      cursor: pointer;
      opacity: 0;
      /* make width of check the same width as the icon */
  }

  .nav__check:checked + .nav__menu--open {
      opacity: 1;
      visibility: visible;
  }

  .nav__menu--open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    background-image:  linear-gradient(to right, rgb(255, 255, 255), #333EB0);
    opacity: 0; 
    visibility: hidden;
    transition: all .6s;
    z-index: 4;
    padding: 75px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}  

@media (max-width: 600px) {
    .nav__menu--open {
        width: 50%;
    }
}

.nav__menu--icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20px;
    right: 17px;

}

.nav__menu--item {
    margin-bottom: 20px;
    font-size: 17px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
}

  .nav__icon:hover {
      color: #555;
  }

  .nav__background {
   
    /* background-color: #222; */
    opacity: .5;
    height: 50px;
    width: 100%;    
    position: fixed;
    top: 0;
    left: 0;         
    z-index: 1;
  }
  
